In [9]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np
from sklearn.svm import SVC
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("cleaned_cuisines.csv")

In [3]:
df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
df.shape

(3995, 382)

In [5]:
label_df = df['cuisine']
label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [6]:
feature_df = df.drop(['Unnamed: 0', 'cuisine'], axis=1)
feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(feature_df, label_df, test_size=0.3)

# linear SVC

In [10]:
C = 10
# Create different classifiers
classifiers = {
    'Linear SVC': SVC(kernel='linear',C=C,probability=True,random_state=0),
    'KNN classifier': KNeighborsClassifier(C),
    'SVC': SVC(),
    'RFST': RandomForestClassifier(n_estimators=100),
    'ADA': AdaBoostClassifier(n_estimators=100)
}

# Train your model using the Linear SVC and print out a report:
n_classifiers = len(classifiers)
for index, (name,classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train,np.ravel(y_train))
    
    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    print('Accuracy (train) for %s:%0.1f%%' % (name,accuracy * 100))
    print(classification_report(y_test,y_pred))

Accuracy (train) for Linear SVC:78.8%
              precision    recall  f1-score   support

     chinese       0.69      0.70      0.70       251
      indian       0.84      0.91      0.88       226
    japanese       0.79      0.76      0.77       248
      korean       0.86      0.76      0.81       237
        thai       0.77      0.82      0.80       237

    accuracy                           0.79      1199
   macro avg       0.79      0.79      0.79      1199
weighted avg       0.79      0.79      0.79      1199

Accuracy (train) for KNN classifier:75.4%
              precision    recall  f1-score   support

     chinese       0.71      0.68      0.70       251
      indian       0.84      0.84      0.84       226
    japanese       0.70      0.86      0.77       248
      korean       0.93      0.56      0.70       237
        thai       0.69      0.83      0.75       237

    accuracy                           0.75      1199
   macro avg       0.77      0.75      0.75      1199
weighted avg       0.77      0.75      0.75      1199

Accuracy (train) for SVC:82.4%
              precision    recall  f1-score   support

     chinese       0.77      0.70      0.73       251
      indian       0.90      0.92      0.91       226
    japanese       0.86      0.82      0.84       248
      korean       0.86      0.80      0.83       237
        thai       0.76      0.89      0.82       237

    accuracy                           0.82      1199
   macro avg       0.83      0.83      0.82      1199
weighted avg       0.83      0.82      0.82      1199

Accuracy (train) for RFST:83.4%
              precision    recall  f1-score   support

     chinese       0.82      0.71      0.76       251
      indian       0.85      0.96      0.90       226
    japanese       0.85      0.83      0.84       248
      korean       0.87      0.82      0.85       237
        thai       0.78      0.87      0.82       237

    accuracy                           0.83      1199
   macro avg       0.84      0.84      0.83      1199
weighted avg       0.84      0.83      0.83      1199

Accuracy (train) for ADA:70.5%
              precision    recall  f1-score   support

     chinese       0.63      0.45      0.53       251
      indian       0.85      0.87      0.86       226
    japanese       0.69      0.67      0.68       248
      korean       0.64      0.77      0.70       237
        thai       0.71      0.79      0.75       237

    accuracy                           0.70      1199
   macro avg       0.70      0.71      0.70      1199
weighted avg       0.70      0.70      0.70      1199

# random forest classifier

In [11]:
classifier = RandomForestClassifier(n_estimators=100)
classifier.fit(X_train,np.ravel(y_train))
y_pred = classifier.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print(f'Random Forest Accuracy (train): {accuracy * 100}')
print(classification_report(y_test,y_pred))

Random Forest Accuracy (train): 84.65387823185988
              precision    recall  f1-score   support

     chinese       0.82      0.71      0.76       251
      indian       0.89      0.94      0.92       226
    japanese       0.86      0.83      0.85       248
      korean       0.88      0.84      0.86       237
        thai       0.79      0.91      0.84       237

    accuracy                           0.85      1199
   macro avg       0.85      0.85      0.85      1199
weighted avg       0.85      0.85      0.85      1199

In [12]:
#increasing estimator to 300

classifier = RandomForestClassifier(n_estimators=300)
classifier.fit(X_train,np.ravel(y_train))
y_pred = classifier.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print(f'Random Forest Accuracy (train): {accuracy * 100}')
print(classification_report(y_test,y_pred))

Random Forest Accuracy (train): 84.32026688907422
              precision    recall  f1-score   support

     chinese       0.84      0.73      0.78       251
      indian       0.87      0.95      0.91       226
    japanese       0.86      0.83      0.84       248
      korean       0.89      0.83      0.86       237
        thai       0.77      0.89      0.83       237

    accuracy                           0.84      1199
   macro avg       0.85      0.85      0.84      1199
weighted avg       0.85      0.84      0.84      1199